
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}


.modal-content {
  background-color: rgb(252, 232, 191);
  padding: 20px;
  border-radius: 10px;
  width: 400px; 
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}


.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacement entre les champs */
}


.input-field {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

/* Focus sur les champs */
.input-field:focus {
  border-color: rgb(238, 161, 7); 
  outline: none;
}


.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button {
  background-color: rgb(228, 209, 173); 
  color: white;
  border: none;
}

.submit-button {
  background-color: rgb(250, 192, 75); 
  color: white;
  border: none;
}

/* Survol des boutons */
.button:hover {
  opacity: 0.9;
}

.close-button:hover {
  background-color: rgb(238, 161, 7); 
}

.submit-button:hover {
  background-color: rgb(238, 161, 7); 
}
