.task-board {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  padding: 1rem;
  margin-left: 240px;
  align-items: flex-start;
  position: relative; 
}

.titre {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px; 
}


.task-columns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  width: 100%;
}


.task-board span {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; 
}


.a_faire svg {
  color: #fdcf89; 
}

.en_cours svg {
  color: #ff7b00; 
}

.termine svg {
  color: #2ecc71; 
}

.en_pause svg {
  color: #ee7878; 
}


.add-task-button {
  position: fixed;  
  bottom: 20px;    
  right: 20px;    
  background-color: rgb(250, 192, 75);
  padding: 10px;
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  z-index: 1000;   
}

.add-task-button:hover {
  background-color: rgb(238, 161, 7); 
}
